body
{
background-color: grey;
}
.h1-heading
{
font-family: 'Times New Roman';
font-weight: bold;
font-size: 8rem;
color: rgb(3, 4, 12);
text-align: center;
box-shadow: 3px 3px 3px 4px;

}
p
{
font-family: cursive;
font-weight: bold;
font-size: 20px;
text-align: center;

}

.item-1
{
background-color: rgb(30, 255, 0);
border-radius: 20px;
width: 600px;
margin-left: 2rem;
}
.item-2
{
background-color: rgb(30, 255, 0);
border-radius: 20px;
width: 600px;
margin-left: 2rem;
}







